.myNavbar {
  .navbar {
    .navbar-toggler {
      color: rgba(0, 0, 0, 0.5);
      border-color: rgba(0, 0, 0, 0.1);
    }
    .nav-item {
      position: relative;
      a {
        @include text($color_black, $fs_15 + 2, $fw_500);
        text-decoration: none;
        &:hover {
          color: $color_green;
        }
      }
      .dropdown-menu {
        display: block;
        top: -10000px;
        transition: transform 0.2s ease-out, opacity 0.2s ease-out,
          -webkit-transform 0.2s ease-out;
        opacity: 0;
        transform: translate3d(0, 10px, 0) scale(0.98);
        margin-top: 0;
        min-width: 220px;
        box-shadow: 0 8px 20px rgba(55, 125, 255, 0.075);
        border-radius: 0 0 0.25rem 0.25rem;
        border: none;
        border-top: 3px solid $color_green;
        .nav-link__list {
          display: block;
          padding-top: 0.3125rem;
          padding-bottom: 0.3125rem;
          padding-left: 1.5625rem;
          padding-right: 1.5625rem;
          &:hover {
            outline: none;
            text-decoration: none;
          }
        }
      }
      .nav-link {
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
      .dropdown-toggle::after {
        content: none;
      }
      &:hover {
        color: $color_green;
        .dropdown-menu {
          opacity: 1;
          top: 100%;
          transform: translate3d(0, 0, 0) scale(1);
        }
      }
    }
    .active {
      a {
        color: $color_green;
      }
    }
  }
  .nav__right {
    .nav__cart {
      .lnr {
        font-size: $fs_20;
      }
      .dropdown__cart {
        left: auto;
        right: -80px;
        width: 400px;
        z-index: 1300;
        .cart__list {
          overflow-y: scroll;
          padding: 0 5%;
          max-height: 275px;
          .cart__item {
            border-bottom: 1px solid $color_gray;
            &:hover {
              .cart__info {
                .cart__item-name {
                  color: $color_green;
                  transition: all 0.5s;
                }
              }
            }
            .cart__img {
              img {
                max-width: 100%;
              }
            }
            .cart__info {
              .cart__item-name {
                @include text($color_black, $fs_15 - 1, $fw_500);
              }
              .cart__item-moTa {
                @include text($color_black, $fs_13 - 1, $fw_400);
              }
              .cart__item-price {
                @include text($color_red, $fs_15 + 2, $fw_500);
              }
            }
          }
        }
        .cart__bottom {
          .cart__total {
            padding-top: 10px;
            span {
              color: $color_red;
            }
          }
        }
      }
    }
  }
}
