* {
  margin: 0;
  padding: 0; }

html body {
  font-family: 'Maven Pro', sans-serif;
  font-size: 15px;
  color: #202428;
  background-color: #ffffff;
  line-height: 1.43; }

.myHeader {
  background-color: #1e2022;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400; }
  .myHeader .header__item li a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none; }
    .myHeader .header__item li a:hover {
      color: #00cb54;
      font-size: 16px;
      font-weight: 400;
      transition: all 0.3s; }

.myNavbar {
  position: sticky;
  top: 0;
  z-index: 1020;
  background-color: #ffffff; }
  .myNavbar .navbar .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1); }
  .myNavbar .navbar .nav-item {
    position: relative; }
    .myNavbar .navbar .nav-item a {
      color: #202428;
      font-size: 17px;
      font-weight: 500;
      text-decoration: none; }
      .myNavbar .navbar .nav-item a:hover {
        color: #00cb54; }
    .myNavbar .navbar .nav-item .dropdown-menu {
      display: block;
      top: -10000px;
      transition: transform 0.2s ease-out, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
      opacity: 0;
      transform: translate3d(0, 10px, 0) scale(0.98);
      margin-top: 0;
      min-width: 220px;
      box-shadow: 0 8px 20px rgba(55, 125, 255, 0.075);
      border-radius: 0 0 0.25rem 0.25rem;
      border: none;
      border-top: 3px solid #00cb54; }
      .myNavbar .navbar .nav-item .dropdown-menu .nav-link__list {
        display: block;
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        padding-left: 1.5625rem;
        padding-right: 1.5625rem; }
        .myNavbar .navbar .nav-item .dropdown-menu .nav-link__list:hover {
          outline: none;
          text-decoration: none; }
    .myNavbar .navbar .nav-item .nav-link {
      padding-top: 1.875rem;
      padding-bottom: 1.875rem;
      padding-right: 0.5rem;
      padding-left: 0.5rem; }
    .myNavbar .navbar .nav-item .dropdown-toggle::after {
      content: none; }
    .myNavbar .navbar .nav-item:hover {
      color: #00cb54; }
      .myNavbar .navbar .nav-item:hover .dropdown-menu {
        opacity: 1;
        top: 100%;
        transform: translate3d(0, 0, 0) scale(1); }
  .myNavbar .navbar .active a {
    color: #00cb54; }
  .myNavbar .nav__right .nav__cart .lnr {
    font-size: 20px; }
  .myNavbar .nav__right .nav__cart .dropdown__cart {
    left: auto;
    right: -80px;
    width: 400px;
    z-index: 1300; }
    .myNavbar .nav__right .nav__cart .dropdown__cart .cart__list {
      overflow-y: scroll;
      padding: 0 5%;
      max-height: 275px; }
      .myNavbar .nav__right .nav__cart .dropdown__cart .cart__list .cart__item {
        border-bottom: 1px solid #8f8f93; }
        .myNavbar .nav__right .nav__cart .dropdown__cart .cart__list .cart__item:hover .cart__info .cart__item-name {
          color: #00cb54;
          transition: all 0.5s; }
        .myNavbar .nav__right .nav__cart .dropdown__cart .cart__list .cart__item .cart__img img {
          max-width: 100%; }
        .myNavbar .nav__right .nav__cart .dropdown__cart .cart__list .cart__item .cart__info .cart__item-name {
          color: #202428;
          font-size: 14px;
          font-weight: 500; }
        .myNavbar .nav__right .nav__cart .dropdown__cart .cart__list .cart__item .cart__info .cart__item-moTa {
          color: #202428;
          font-size: 12px;
          font-weight: 400; }
        .myNavbar .nav__right .nav__cart .dropdown__cart .cart__list .cart__item .cart__info .cart__item-price {
          color: #fd3635;
          font-size: 17px;
          font-weight: 500; }
    .myNavbar .nav__right .nav__cart .dropdown__cart .cart__bottom .cart__total {
      padding-top: 10px; }
      .myNavbar .nav__right .nav__cart .dropdown__cart .cart__bottom .cart__total span {
        color: #fd3635; }

.scrollTop {
  box-shadow: 0px 5px 5px 0px rgba(176, 177, 193, 0.1); }

.myCover {
  background-image: url(../img/cover_1.jpg);
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50%;
  padding: 13rem 0; }
  .myCover .cover__content .cover__text h4 {
    color: #00cb54;
    font-size: 22px;
    font-weight: 700; }
  .myCover .cover__content .cover__text h1 {
    color: #ffffff;
    font-size: 70px;
    font-weight: 700; }
  .myCover .cover__content .cover__text p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400; }
    .myCover .cover__content .cover__text p span {
      color: #00cb54;
      font-size: 20px;
      font-weight: 400; }
  .myCover .cover__content .cover__text a {
    text-decoration: none; }
  .myCover .cover__form {
    background-color: #ffffff;
    border-radius: 0.25rem; }
    .myCover .cover__form .cover__input {
      border: #ffffff;
      flex: 1 1 auto;
      width: 1%; }
      .myCover .cover__form .cover__input:focus {
        color: #495057;
        background-color: #ffffff;
        border-color: #ffffff;
        outline: 0;
        box-shadow: none; }
    .myCover .cover__form .cover__button button i {
      font-size: 20px; }

.myBanner {
  background-color: #369bfd; }
  .myBanner .banner__content p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.67; }

.myFooter .backtotop {
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 1.8rem;
  color: black;
  position: fixed;
  bottom: 3%;
  right: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  font-weight: 400;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15); }
.myFooter .cd-top--is-visible {
  visibility: visible;
  opacity: 1; }
.myFooter .footer__Top {
  background-color: #1e2022; }
  .myFooter .footer__Top img {
    max-width: 100%; }
  .myFooter .footer__Top .footer__text {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.76; }
    .myFooter .footer__Top .footer__text p {
      color: rgba(255, 255, 255, 0.6);
      font-size: 16px;
      font-weight: 400;
      line-height: 1.76; }
  .myFooter .footer__Top .footer__social .social__item {
    margin-right: 10px;
    display: inline-block; }
    .myFooter .footer__Top .footer__social .social__item .iconbox {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.6);
      background-color: rgba(255, 255, 255, 0.2);
      width: 45px !important;
      height: 45px !important;
      display: -webkit-inline-flex;
      display: -moz-inline-flex;
      display: -ms-inline-flex;
      display: -o-inline-flex;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-radius: 10rem;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .myFooter .footer__Top .footer__social .social__item .iconbox:hover {
        background-color: #00cb54;
        color: #ffffff;
        transition: all 0.4s; }
  .myFooter .footer__Top a {
    text-decoration: none; }
    .myFooter .footer__Top a:hover {
      color: #00cb54;
      transition: all 0.3s; }
  .myFooter .footer__Top .footer__contact .contact__list .contact__item {
    margin-bottom: 1rem; }
    .myFooter .footer__Top .footer__contact .contact__list .contact__item .contact__location {
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .myFooter .footer__Top .footer__contact .contact__list .contact__item .contact__location .location__body {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1; }
  .myFooter .footer__Top .footer_newLatter .input-group .form-control {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0; }
  .myFooter .footer__Top .footer_newLatter input {
    height: 100%; }
    .myFooter .footer__Top .footer_newLatter input:focus {
      box-shadow: none; }
  .myFooter .footer__Top .footer_newLatter .btn_green {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
.myFooter .footer__bottom {
  background-color: rgba(0, 0, 0, 0.9); }
  .myFooter .footer__bottom p {
    color: rgba(255, 255, 255, 0.5); }
    .myFooter .footer__bottom p a {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.5); }
      .myFooter .footer__bottom p a:hover {
        color: #00cb54;
        transition: all 0.5s; }

.campusNew {
  background-color: #f3f6fb; }
  .campusNew .campus__left .card {
    border: none;
    box-shadow: 0px 5px 5px 0px rgba(176, 177, 193, 0.1); }
    .campusNew .campus__left .card .card-text {
      color: #00cb54; }
    .campusNew .campus__left .card a {
      color: #202428;
      text-decoration: none; }
      .campusNew .campus__left .card a .campus__title:hover {
        color: #00cb54;
        transition: all 0.3s; }
  .campusNew .campus__right .card {
    border: none;
    box-shadow: 0px 5px 5px 0px rgba(176, 177, 193, 0.1); }
    .campusNew .campus__right .card .card-text {
      color: #202428; }
    .campusNew .campus__right .card .text_1 {
      color: #00cb54; }
    .campusNew .campus__right .card a {
      color: #202428;
      text-decoration: none; }
      .campusNew .campus__right .card a .campus__title:hover {
        color: #00cb54;
        transition: all 0.3s; }

.admintrator .admintrator__right p {
  color: #8f8f93;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7; }
.admintrator .admintrator__right h6 {
  font-size: 18px; }
  .admintrator .admintrator__right h6 span {
    color: #00cb54; }

.logo {
  background-color: #f3f6fb; }

.btn_green {
  color: #ffffff;
  background-color: #00cb54;
  font-weight: 500;
  border: 1px solid #00cb54;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.5rem 0.9rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.5s ease-in-out, box-shadow 0.2s ease-in-out; }
  .btn_green:hover {
    background-color: #00983f;
    color: #ffffff;
    border: 1px solid #00983f; }
  .btn_green:focus {
    outline: none; }

.btn_white-green {
  color: #202428;
  background-color: #ffffff;
  font-weight: 500;
  border: 1px solid #ffffff;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.5rem 0.9rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.5s ease-in-out, box-shadow 0.2s ease-in-out; }
  .btn_white-green:hover {
    background-color: #00cb54;
    color: #ffffff;
    border: 1px solid #00cb54; }
  .btn_white-green:focus {
    outline: none; }

.btn_blue {
  color: #ffffff;
  background-color: #369bfd;
  font-weight: 500;
  border: 1px solid #369bfd;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.5rem 0.9rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.5s ease-in-out, box-shadow 0.2s ease-in-out; }
  .btn_blue:hover {
    background-color: #0482fc;
    color: #ffffff;
    border: 1px solid #0482fc; }
  .btn_blue:focus {
    outline: none; }

.btn_red {
  color: #ffffff;
  background-color: #fd3635;
  font-weight: 500;
  border: 1px solid #fd3635;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.5rem 0.9rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.5s ease-in-out, box-shadow 0.2s ease-in-out; }
  .btn_red:hover {
    background-color: #fd0403;
    color: #ffffff;
    border: 1px solid #fd0403; }
  .btn_red:focus {
    outline: none; }

.btn_yellow {
  color: #ffffff;
  background-color: #faae2f;
  font-weight: 500;
  border: 1px solid #faae2f;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.5rem 0.9rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.5s ease-in-out, box-shadow 0.2s ease-in-out; }
  .btn_yellow:hover {
    background-color: #f09806;
    color: #ffffff;
    border: 1px solid #f09806; }
  .btn_yellow:focus {
    outline: none; }

.btn_outline_white {
  color: #ffffff;
  background-color: transparent;
  font-weight: 500;
  border: 1px solid #ffffff;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.5rem 0.9rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.5s ease-in-out, box-shadow 0.2s ease-in-out; }
  .btn_outline_white:hover {
    background-color: #ffffff;
    color: #202428;
    border: 1px solid #ffffff; }
  .btn_outline_white:focus {
    outline: none; }

.btn_outline_green {
  color: #00cb54;
  background-color: #ffffff;
  font-weight: 500;
  border: 1px solid #00cb54;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.5rem 0.9rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.5s ease-in-out, box-shadow 0.2s ease-in-out; }
  .btn_outline_green:hover {
    background-color: #00cb54;
    color: #ffffff;
    border: 1px solid #00cb54; }
  .btn_outline_green:focus {
    outline: none; }

.bottom_line {
  width: 3rem !important;
  background-color: #00cb54 !important;
  height: 0.1875rem; }

.myLink:hover {
  color: #00cb54; }

/*# sourceMappingURL=index.css.map */
