@import "Hepler/variable";

@import "Base/reset";

@import "Hepler/mixin";
@import "Hepler/function";
@import "Hepler/extend";

@import "Layout/header";
@import "./Layout/myNavbar";
@import "./Layout/cover";
@import "./Layout/intro";
@import "./Layout/courses";
@import "./Base/normalized";
@import "./Layout/student";
@import "./Layout/banner";
@import "./Layout/categories";
@import "./Layout/about";
@import "./Layout/footer";
@import "./Layout/campusNew";
@import "./Layout/admintrator";
@import "./Layout/logo";

@import "Component/button";
@import "./Component/bottomLine";
@import "./Component/text";
